/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

.section {
    margin: 60px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    max-width: 300px;
    margin-right: 40px;
}

.about-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
    max-width: 600px;
}

.about-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4CAF50;
}

.about-text h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.about-text p,
.about-text ul {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #555;
}

.about-text ul {
    list-style: disc;
    padding-left: 20px;
}

.project,
.certification {
    margin-bottom: 20px;
}

.project h3,
.certification h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.project p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

.project a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project a:hover {
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        margin: 0 0 20px 0;
    }

    .about-text {
        max-width: 100%;
    }
}
